In [24]:
import pandas as pd

In [16]:
df_data = pd.read_csv('../data/Dummy Data AI Restructure Approval rev7.csv')
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   debtor_nik                      5000 non-null   int64
 1   debtor_name                     5000 non-null   object
 2   debtor_gender                   5000 non-null   object
 3   debtor_birth_place              5000 non-null   object
 4   debtor_address                  5000 non-null   object
 5   debtor_zip                      5000 non-null   int64
 6   debtor_rt                       5000 non-null   int64
 7   debtor_rw                       5000 non-null   int64
 8   debtor_marital_status           5000 non-null   object
 9   debtor_company                  5000 non-null   object
 10  debtor_number                   5000 non-null   object
 11  debtor_id                       3777 non-null   float64
 12  debtor_age                      3777 non-null   float64
 13  debtor_occupation               3777 non-null   object
 14  monthly_income                  3777 non-null   float64
 15  debt                            3777 non-null   float64
 16  dti                             3777 non-null   float64
 17  monthly_expenses                3777 non-null   float64
 18  net_income                      3777 non-null   float64
 19  asset_value                     3777 non-null   float64
 20  previous_credit_monthly_income  3777 non-null   float64
 21  financial_changes               3777 non-null   float64
 22  business_conditions             3777 non-null   float64
 23  credit_score                    3777 non-null   float64
 24  amount_of_late_days             3777 non-null   float64
 25  credit_goals                    3777 non-null   object
 26  collateral                      3777 non-null   float64
 27  loan_amount                     3777 non-null   float64
 28  interest_rate                   3777 non-null   float64
 29  tenor                           3777 non-null   float64
 30  number_of_dependents            3777 non-null   float64
 31  monthly_payments                3777 non-null   float64
 32  old_tenor                       3777 non-null   float64
 33  old_collateral                  3777 non-null   float64
 34  fee_installments                3777 non-null   float64
 35  ltv                             3777 non-null   float64
 36  remaining_loan                  3777 non-null   float64
 37  arrear_amount                   3777 non-null   float64
 38  monthly_income_family           3777 non-null   float64
 39  monthly_expense_family          3777 non-null   float64
 40  family_health                   3777 non-null   object
 41  asset_value_family              3777 non-null   float64
dtypes: float64(28), int64(4), object(10)
memory usage: 1.6+ MB

In [17]:
df_data = df_data.rename(columns={'occupation': 'debtor_occupation', 
                                  'age' : 'debtor_age'})
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   debtor_nik                      5000 non-null   int64
 1   debtor_name                     5000 non-null   object
 2   debtor_gender                   5000 non-null   object
 3   debtor_birth_place              5000 non-null   object
 4   debtor_address                  5000 non-null   object
 5   debtor_zip                      5000 non-null   int64
 6   debtor_rt                       5000 non-null   int64
 7   debtor_rw                       5000 non-null   int64
 8   debtor_marital_status           5000 non-null   object
 9   debtor_company                  5000 non-null   object
 10  debtor_number                   5000 non-null   object
 11  debtor_id                       3777 non-null   float64
 12  debtor_age                      3777 non-null   float64
 13  debtor_occupation               3777 non-null   object
 14  monthly_income                  3777 non-null   float64
 15  debt                            3777 non-null   float64
 16  dti                             3777 non-null   float64
 17  monthly_expenses                3777 non-null   float64
 18  net_income                      3777 non-null   float64
 19  asset_value                     3777 non-null   float64
 20  previous_credit_monthly_income  3777 non-null   float64
 21  financial_changes               3777 non-null   float64
 22  business_conditions             3777 non-null   float64
 23  credit_score                    3777 non-null   float64
 24  amount_of_late_days             3777 non-null   float64
 25  credit_goals                    3777 non-null   object
 26  collateral                      3777 non-null   float64
 27  loan_amount                     3777 non-null   float64
 28  interest_rate                   3777 non-null   float64
 29  tenor                           3777 non-null   float64
 30  number_of_dependents            3777 non-null   float64
 31  monthly_payments                3777 non-null   float64
 32  old_tenor                       3777 non-null   float64
 33  old_collateral                  3777 non-null   float64
 34  fee_installments                3777 non-null   float64
 35  ltv                             3777 non-null   float64
 36  remaining_loan                  3777 non-null   float64
 37  arrear_amount                   3777 non-null   float64
 38  monthly_income_family           3777 non-null   float64
 39  monthly_expense_family          3777 non-null   float64
 40  family_health                   3777 non-null   object
 41  asset_value_family              3777 non-null   float64
dtypes: float64(28), int64(4), object(10)
memory usage: 1.6+ MB

In [18]:
df_data = df_data.drop(['debtor_name', 'debtor_nik', 'debtor_address', 'debtor_number',
                        'debtor_company'], axis=1)
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 37 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   debtor_gender                   5000 non-null   object
 1   debtor_birth_place              5000 non-null   object
 2   debtor_zip                      5000 non-null   int64
 3   debtor_rt                       5000 non-null   int64
 4   debtor_rw                       5000 non-null   int64
 5   debtor_marital_status           5000 non-null   object
 6   debtor_id                       3777 non-null   float64
 7   debtor_age                      3777 non-null   float64
 8   debtor_occupation               3777 non-null   object
 9   monthly_income                  3777 non-null   float64
 10  debt                            3777 non-null   float64
 11  dti                             3777 non-null   float64
 12  monthly_expenses                3777 non-null   float64
 13  net_income                      3777 non-null   float64
 14  asset_value                     3777 non-null   float64
 15  previous_credit_monthly_income  3777 non-null   float64
 16  financial_changes               3777 non-null   float64
 17  business_conditions             3777 non-null   float64
 18  credit_score                    3777 non-null   float64
 19  amount_of_late_days             3777 non-null   float64
 20  credit_goals                    3777 non-null   object
 21  collateral                      3777 non-null   float64
 22  loan_amount                     3777 non-null   float64
 23  interest_rate                   3777 non-null   float64
 24  tenor                           3777 non-null   float64
 25  number_of_dependents            3777 non-null   float64
 26  monthly_payments                3777 non-null   float64
 27  old_tenor                       3777 non-null   float64
 28  old_collateral                  3777 non-null   float64
 29  fee_installments                3777 non-null   float64
 30  ltv                             3777 non-null   float64
 31  remaining_loan                  3777 non-null   float64
 32  arrear_amount                   3777 non-null   float64
 33  monthly_income_family           3777 non-null   float64
 34  monthly_expense_family          3777 non-null   float64
 35  family_health                   3777 non-null   object
 36  asset_value_family              3777 non-null   float64
dtypes: float64(28), int64(3), object(6)
memory usage: 1.4+ MB

In [19]:
df_profil = pd.read_csv('df_prof.csv')
df_profil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   debtor_nik             5000 non-null   int64
 1   debtor_name            5000 non-null   object
 2   debtor_gender          5000 non-null   object
 3   debtor_birth_place     5000 non-null   object
 4   debtor_age             5000 non-null   int64
 5   debtor_address         5000 non-null   object
 6   debtor_zip             5000 non-null   int64
 7   debtor_rt              5000 non-null   int64
 8   debtor_rw              5000 non-null   int64
 9   debtor_marital_status  5000 non-null   object
 10  debtor_occupation      5000 non-null   object
 11  debtor_company         5000 non-null   object
 12  debtor_number          5000 non-null   object
dtypes: int64(5), object(8)
memory usage: 507.9+ KB

In [20]:
df_profil = df_profil.drop(['debtor_occupation', 'debtor_age'], axis=1)
df_profil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   debtor_nik             5000 non-null   int64
 1   debtor_name            5000 non-null   object
 2   debtor_gender          5000 non-null   object
 3   debtor_birth_place     5000 non-null   object
 4   debtor_address         5000 non-null   object
 5   debtor_zip             5000 non-null   int64
 6   debtor_rt              5000 non-null   int64
 7   debtor_rw              5000 non-null   int64
 8   debtor_marital_status  5000 non-null   object
 9   debtor_company         5000 non-null   object
 10  debtor_number          5000 non-null   object
dtypes: int64(4), object(7)
memory usage: 429.8+ KB

In [13]:
# Menggabungkan kolom dari kedua DataFrame
df_gabung = pd.concat([df_profil, df_data], axis=1)
df_gabung.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3777 entries, 0 to 3776
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   debtor_nik                      3777 non-null   int64
 1   debtor_name                     3777 non-null   object
 2   debtor_gender                   3777 non-null   object
 3   debtor_birth_place              3777 non-null   object
 4   debtor_address                  3777 non-null   object
 5   debtor_zip                      3777 non-null   int64
 6   debtor_rt                       3777 non-null   int64
 7   debtor_rw                       3777 non-null   int64
 8   debtor_marital_status           3777 non-null   object
 9   debtor_company                  3777 non-null   object
 10  debtor_number                   3777 non-null   object
 11  debtor_id                       3777 non-null   int64
 12  debtor_age                      3777 non-null   int64
 13  debtor_occupation               3777 non-null   object
 14  monthly_income                  3777 non-null   int64
 15  debt                            3777 non-null   float64
 16  dti                             3777 non-null   float64
 17  monthly_expenses                3777 non-null   int64
 18  net_income                      3777 non-null   int64
 19  asset_value                     3777 non-null   int64
 20  previous_credit_monthly_income  3777 non-null   int64
 21  financial_changes               3777 non-null   int64
 22  business_conditions             3777 non-null   int64
 23  credit_score                    3777 non-null   int64
 24  amount_of_late_days             3777 non-null   int64
 25  credit_goals                    3777 non-null   object
 26  collateral                      3777 non-null   int64
 27  loan_amount                     3777 non-null   float64
 28  interest_rate                   3777 non-null   float64
 29  tenor                           3777 non-null   int64
 30  number_of_dependents            3777 non-null   int64
 31  monthly_payments                3777 non-null   float64
 32  old_tenor                       3777 non-null   int64
 33  old_collateral                  3777 non-null   int64
 34  fee_installments                3777 non-null   int64
 35  ltv                             3777 non-null   float64
 36  remaining_loan                  3777 non-null   int64
 37  arrear_amount                   3777 non-null   int64
 38  monthly_income_family           3777 non-null   int64
 39  monthly_expense_family          3777 non-null   int64
 40  family_health                   3777 non-null   object
 41  asset_value_family              3777 non-null   int64
dtypes: float64(6), int64(26), object(10)
memory usage: 1.2+ MB

In [11]:
# Save DataFrame to file CSV
df_gabung.to_csv('../data/Dummy Data AI Restructure Approval rev7.csv', index=False)

In [25]:
idx_id = 3777
df_gabung = df_gabung[:idx_id]
df_gabung.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3777 entries, 0 to 3776
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   debtor_nik                      3777 non-null   int64
 1   debtor_name                     3777 non-null   object
 2   debtor_gender                   3777 non-null   object
 3   debtor_birth_place              3777 non-null   object
 4   debtor_address                  3777 non-null   object
 5   debtor_zip                      3777 non-null   int64
 6   debtor_rt                       3777 non-null   int64
 7   debtor_rw                       3777 non-null   int64
 8   debtor_marital_status           3777 non-null   object
 9   debtor_company                  3777 non-null   object
 10  debtor_number                   3777 non-null   object
 11  debtor_id                       3777 non-null   int64
 12  debtor_age                      3777 non-null   int64
 13  debtor_occupation               3777 non-null   object
 14  monthly_income                  3777 non-null   int64
 15  debt                            3777 non-null   float64
 16  dti                             3777 non-null   float64
 17  monthly_expenses                3777 non-null   int64
 18  net_income                      3777 non-null   int64
 19  asset_value                     3777 non-null   int64
 20  previous_credit_monthly_income  3777 non-null   int64
 21  financial_changes               3777 non-null   int64
 22  business_conditions             3777 non-null   int64
 23  credit_score                    3777 non-null   int64
 24  amount_of_late_days             3777 non-null   int64
 25  credit_goals                    3777 non-null   object
 26  collateral                      3777 non-null   int64
 27  loan_amount                     3777 non-null   float64
 28  interest_rate                   3777 non-null   float64
 29  tenor                           3777 non-null   int64
 30  number_of_dependents            3777 non-null   int64
 31  monthly_payments                3777 non-null   float64
 32  old_tenor                       3777 non-null   int64
 33  old_collateral                  3777 non-null   int64
 34  fee_installments                3777 non-null   int64
 35  ltv                             3777 non-null   float64
 36  remaining_loan                  3777 non-null   int64
 37  arrear_amount                   3777 non-null   int64
 38  monthly_income_family           3777 non-null   int64
 39  monthly_expense_family          3777 non-null   int64
 40  family_health                   3777 non-null   object
 41  asset_value_family              3777 non-null   int64
dtypes: float64(6), int64(26), object(10)
memory usage: 1.2+ MB

In [26]:
# Save DataFrame to file CSV
df_gabung.to_csv('../data/Dummy Data AI Restructure Approval rev7.csv', index=False)

In [28]:
df_gabung.tail(10)

,debtor_nik,debtor_name,debtor_gender,debtor_birth_place,debtor_address,debtor_zip,debtor_rt,debtor_rw,debtor_marital_status,debtor_company,...,old_tenor,old_collateral,fee_installments,ltv,remaining_loan,arrear_amount,monthly_income_family,monthly_expense_family,family_health,asset_value_family
3767,5332777817429456,"Almira Ramadan, S.Kom",laki-laki,"Kalimantan Barat, 21-11-1997","Gg. Pelajar Pejuang No. 4\nYogyakarta, Goronta...",74624,20,17,Menikah,Perum Astuti Usada,...,0,10700000,0,0.0,0,2,2500000,3800000,Sehat,81700000
3768,5313124918708494,Latika Kuswandari,perempuan,"Bali, 08-01-1978","Gang Stasiun Wonokromo No. 4\nBekasi, Sumatera...",24942,6,7,Cerai mati,UD Wastuti Mardhiyah,...,0,19800000,0,0.0,0,3,19400000,3900000,Tidak sehat,33700000
3769,9710618535284629,Alika Marbun,perempuan,"Kepulauan Riau, 27-11-1972","Gang Indragiri No. 7\nKediri, JB 31978",31978,2,12,Cerai mati,PT Saragih Setiawan,...,0,21500000,0,0.0,0,1,23500000,3900000,Sehat,18200000
3770,3822949593142390,Dina Mandasari,laki-laki,"Jawa Barat, 07-10-1961","Jl. Pacuan Kuda No. 777\nSemarang, Maluku Utar...",35778,7,10,Cerai hidup,CV Kusmawati Tbk,...,0,24900000,0,0.0,0,1,14400000,6000000,Sehat,75700000
3771,2080922958764444,"R.A. Nurul Susanti, M.TI.",perempuan,"Kepulauan Riau, 10-08-1971","Gg. Tebet Barat Dalam No. 415\nSurakarta, Jawa...",41126,3,6,Cerai mati,PD Sihotang Uyainah Tbk,...,0,22100000,0,0.0,0,4,29300000,1300000,Tidak sehat,33400000
3772,6151159536311156,Panji Anggraini,perempuan,"Papua, 27-10-1971","Jalan Lembong No. 6\nPayakumbuh, Gorontalo 67113",67113,12,11,Cerai hidup,PD Yulianti Nugroho (Persero) Tbk,...,0,7800000,0,0.0,0,1,26400000,3300000,Tidak sehat,40200000
3773,3342206439292911,Ganep Dabukke,perempuan,"Papua, 20-04-1999",Gang Tubagus Ismail No. 46\nKota Administrasi ...,41755,6,6,Cerai mati,PT Susanti Tbk,...,0,4700000,0,0.0,0,3,12300000,4800000,Tidak sehat,86200000
3774,5958944163024852,Puti Winda Uwais,laki-laki,"Sumatera Selatan, 09-07-1986","Jl. Yos Sudarso No. 85\nLhokseumawe, BE 98778",98778,13,10,Belum menikah,PD Kusumo (Persero) Tbk,...,0,38300000,0,0.0,0,3,6400000,2200000,Tidak sehat,37600000
3775,4816340735472205,"T. Prayitna Habibi, S.Sos",perempuan,"Papua Barat, 23-11-1999","Jl. Monginsidi No. 622\nBinjai, BB 06240",6240,17,8,Cerai hidup,Perum Halimah,...,0,68400000,0,0.0,0,5,6200000,5000000,Tidak sehat,40500000
3776,5763714261175626,Latika Nababan,perempuan,"DKI Jakarta, 02-09-1962","Jl. Otto Iskandardinata No. 74\nSungai Penuh, ...",18130,1,18,Menikah,Perum Yuliarti Tbk,...,0,62300000,0,0.0,0,2,11600000,7800000,Sehat,49000000